*{
	margin:0px;
	border :none;
}

.container {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

#header {
	width: 100%;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 65%;
	background-image: url(images/back1.jpg);
	position: relative;
}

#name {
	color: #ffffff;
	position: relative;
	/*left: 300px;*/
	top: 65vh;
	display: block;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 11vh;
	text-align: center;
}

.about {
	background-color: #ddd;
	width: 100%;
	height: 100vh;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: black;
}


#aboutmehead {
	display: block;
	padding-top: 6.5vh;
	padding-bottom: 7vh;
	font-weight: 300;
	font-size: 9.5vh;
}

.dp img {
	display: block;
	max-width: 43vh;
	width: auto;
	height: auto;
	margin-left:19vh;
	margin-top: 2vh;
	position: absolute;
}

#aboutmestuff {
	float: right;
	width: 100vh;
	position: relative;
	margin-right: 18vh;
	font-weight: 300;
	font-size: 3.75vh;
}

.contact {
	background-color: #161628;
	width: 100%;
	font-size: 3.75vh;
	height: 100vh;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

#room {
	position: relative;
	float: left;
	font-size: 3.75vh;
	margin-top: 25vh;
	margin-left: 41vh;
}

#social {
	float: right;
	width: 102vh;
	font-size: 3.75vh;
	position: relative;
	margin-top: 21.5vh;
	margin-right: 14vh;
	font-weight: 300;
	font-size: 3.75vh;
}

#social a{
	color: grey;
}

#resume {
	position: relative;
	font-size: 3.75vh;
	font-weight: 300;
	text-align: center;
	top: 71vh;
}

#resume a{
	color: grey;
}